<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Movies</title>
</head>
<body>
  <h1>Top Movies Now Playing</h1>
  <ul>
    <% movies.forEach(movie => { %>
      <li>
        <h2><%= movie.title %></h2>
        <p><strong>Release Date:</strong> <%= movie.release_date %></p>
        <p><strong>Overview:</strong> <%= movie.overview %></p>
        <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
      </li>
    <% }); %>
  </ul>
</body>
</html>