<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random User</title>
</head>
<body>
  <h1>Random User Data</h1>
  <ul>
    <li><strong>Name:</strong> <%= user.name.first %> <%= user.name.last %></li>
    <li><strong>Email:</strong> <%= user.email %></li>
    <li><strong>Phone:</strong> <%= user.phone %></li>
    <li><strong>Location:</strong> <%= user.location.city %>, <%= user.location.country %></li>
    <li><strong>Username:</strong> <%= user.login.username %></li>
    <li><strong>Password:</strong> <%= user.login.password %></li>
    <li><img src="<%= user.picture.large %>" alt="User Picture"></li>
  </ul>
</body>
</html>