<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Clima</h1>
        <p>El tiempo Ahora:</p>
        <br>
        <% if (clima) { %>
            <h2><%= clima.city %></h2>
            <p><%= clima.expected_temp %></p>
            <p><%= clima.humidity %></p>
            <p><img src=<%= clima.bg_image %> alt="" srcset=""></p>
           
          <% } %>
      
    </div>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>